.popupContainer
{
  overflow: scroll;
}

.popupLayout
{
  width: 100%;
}

.popupLayout td
{
  vertical-align: top;
  border-bottom: 1px dotted #ccc;
  padding: 3px;
}

.popupLayout td:nth-child(1)
{
  width: 1%;
  font-weight: bold;
  white-space: nowrap;
}