/*  */
.controls
{
  background-color: white;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
  opacity: 0.85;
  width: 320px;
  right: 10px;
}

#controls
{
  top: 10px;
}

/* reduce size of layer control button */
.leaflet-control-layers-toggle
{ 
    height: 28px;
    width: 28px;
}

.legend
{
  white-space: nowrap;
}